/* main.css */

body {
  margin: 0;
}

.container {
  font-family: Dosis, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

/*
    HEADER
*/

header {
  width: 100%;
}

.header {
  width: 100%;
  text-align: right;
  box-shadow: 0 2px 3px 0 #404040;
  height: 70px;
}

.logo {
  width: 45px;
  height: 45px;
  float: left;
  margin: 12.5px 12.5px;
}

.credentials {
  float: right;
  color: #312c32;
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-size: 32px;
  float: right;
  margin: 7.5px 10px 0 0;
}

.header p {
  float: right;
  margin: 0 7.5px 0 0;
  font-weight: bolder;
}

/*
    NAVIGATION
*/

.nav {
  margin-top: 70px;
  z-index: 2;
  position: absolute;
  height: calc(100% - 70px);
  width: 200px;
  background-color: #fff;
  box-shadow: 0.5px 0 0.5px 0 #404040;
  transform: translate(-200.5px, 0);
  transition: transform 0.4s ease;
}

.nav.nav-opened {
  transform: translate(0, 0);
}

.nav-button {
  margin-top: 70px;
  width: 50px;
  height: 50px;
  background-color: rgba(152, 218, 252, 0.7);
  z-index: 3;
  border: none;
  position: absolute;
  transition: transform 0.4s ease;
  outline: none;
}

.nav-button.nav-opened {
  transform: translate(200.5px, 0);
}

.nav-button-arrow {
  margin: 0;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease;
  font-size: 40px;
  color: #312c32;
}

.nav-button-arrow.nav-opened {
  transform: rotate(180deg);
}

.nav-ul {
  padding-left: 50px;
}

.nav-element {
  list-style: none;
  display: block;
}

.rect {
  width: 100px;
  height: 75px;
}

.rect-1 {
  background-color: #98dafc;
}

.rect-2 {
  background-color: #daad86;
}

.rect-3 {
  background-color: #312c32;
}

.color-label {
  margin-top: 8px;
}

/*
    MAIN
*/

.main-image figcaption {
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.main-image img {
  width: 100%;
}

.main-image.nav-opened,
.featured-work.nav-opened,
.footer.nav-opened p {
  filter: blur(1px);
}

.main-image,
figure {
  width: 100%;
  margin: 0;
  transition: transform 0.3s ease;
}

.featured-work {
  width: 90%;
  margin: auto;
}

.featured-work h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 100%;
  text-decoration: none;
  color: #312c32;
}

.project img {
  width: 100%;
  object-fit: contain;
  object-position: top;
  margin-top: 20px;
  border: solid 1px #daad86;
  max-height: 210px;
}

.project-container h2,
.project-container p {
  margin: 7px 0;
  word-break: break-word;
}

/*
    FOOTER
*/

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-text {
  margin-top: 20px;
  font-size: 16px;
  display: inline;
  width: 100%;
  text-align: center;
}

.fa-heart {
  color: #daad86;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto 10px auto;
}

.footer-social a {
  width: 25%;
  font-size: 20px;
  text-decoration: none;
  color: #312c32;
  text-align: center;
}

/*
    MEDIA QUERIES
*/

@media screen and (max-width: 500px) {
  .main-image {
    margin-top: 10px;
  }
}

@media screen and (min-width: 501px) {
  header {
    width: 100%;
    margin-bottom: 10px;
    order: 0;
  }

  .nav {
    order: 1;
    margin-top: 0;
    position: inherit;
    transform: translate(0, 0);
    width: 20%;
    box-shadow: none;
  }

  .nav-ul {
    padding: 0;
    margin: 0;
  }

  .nav-element {
    width: 90%;
    margin: auto;
  }

  .rect {
    width: 100%;
  }

  .nav-button {
    display: none;
  }

  .main-image {
    order: 2;
    width: 80%;
  }

  .main-image img {
    object-fit: cover;
    height: 313px;
  }

  .main-image figcaption {
    font-size: 16px;
  }

  .featured-work {
    order: 3;
  }

  .project-container {
    width: calc(100%/2 - 4px);
    margin: 0 2px;
  }

  .project-container img {
    height: 25vh;
  }

  .footer {
    order: 4;
  }
}

@media screen and (min-width: 601px) {
  .project-container img {
    height: 35vh;
  }
}

@media screen and (min-width: 701px) {
  .project-container {
    width: calc(100%/3 - 6px);
  }

  .project-container img {
    height: 25vh;
  }
}

@media screen and (min-width: 901px) {
  header {
    width: 100%;
  }

  .header {
    width: 80%;
    float: right;
    margin-left: 20%;
    z-index: 2;
    background-color: #fff;
  }

  .main-image {
    width: 80%;
  }

  .featured-work {
    margin-left: 20%;
  }

  .footer {
    width: 80%;
    margin-left: 20%;
  }
}

@media screen and (min-width: 1001px) {
  .container {
    width: 1000px;
    margin: auto;
  }

  .nav {
    width: 200px;
  }

  .header {
    width: 800px;
    margin-left: 200px;
  }
}
