/* main.css */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  margin: 0;
}

.container {
  font-family: Dosis, sans-serif;
}

/*
    HEADER
*/

.header {
  text-align: right;
  box-shadow: 0 2px 3px 0 #404040;
  height: 70px;
}

.logo {
  width: 45px;
  height: 45px;
  float: left;
  margin: 12.5px 12.5px;
}

.credentials {
  float: right;
  width: 210px;
  color: #312c32;
}

.header h1 {
  font-size: 32px;
  display: block;
  float: right;
  margin: 7.5px 10px 0 0;
}

.header p {
  display: block;
  float: right;
  margin: 0 7.5px 0 0;
  font-weight: bolder;
}

/*
    NAVIGATION
*/

nav {
  z-index: 2;
  position: absolute;
  height: calc(100% - 70px);
  width: 200px;
  background-color: #fff;
  box-shadow: 0.5px 0 0.5px 0 #404040;
  transform: translate(-200.5px, 0);
  transition: transform 0.4s ease;
}

nav.nav_opened {
  transform: translate(0, 0);
}

.nav_button {
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(152, 218, 252, 0.7);
  z-index: 3;
  border: none;
  position: absolute;
  transition: transform 0.4s ease;
  outline: none;
}

.nav_button.nav_opened {
  transform: translate(200.5px, 0);
}

.nav_button_arrow {
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: #312c32;
  transition: transform 0.3s ease;
}

.nav_button_arrow.nav_opened {
  transform: rotate(180deg);
}

.nav {
  padding-left: 50px;
}

.nav_element {
  list-style: none;
  display: block;
}

.rect {
  width: 100px;
  height: 75px;
}

.rect_1 {
  background-color: #98dafc;
}

.rect_2 {
  background-color: #daad86;
}

.rect_3 {
  background-color: #312c32;
}

.color_label {
  margin-top: 8px;
}

/*
    MAIN
*/

figcaption {
font-size: 12px;
width: 100%;
text-align: center;
}

.main_image {
  margin-top: 10px;
}

.main_image img {
  width: 100%;
}

section.nav_opened {
  filter: blur(2px);
}

.main_image, figure {
  width: 100%;
  margin: 0;
  transition: transform 0.3s ease;
}

.featured_work {
  width: 90%;
  margin: auto;
}

.featured_work h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.project {
  width: 100%;
  text-decoration: none;
  color: #312c32;
}

.project img {
  width: 100%;
  object-fit: contain;
  object-position: top;
  margin-top: 20px;
  border: solid 1px #daad86;
  max-height: 210px;
}

.project_container h2, .project_container p {
  margin: 7px 0;
  word-break: break-word;
}

/*
    FOOTER
*/

footer {
  margin-top: 20px;
  font-size: 16px;
  display: inline;
  width: 100%;
  text-align: center;
}

.fontawesome-heart-empty {
  color: #daad86;
}

/*
    MEDIA QUERIES
*/

@media screen and (min-width: 501px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    margin-bottom: 10px;
    order: 0;
  }

  nav {
    order: 1;
    position: inherit;
    transform: translate(0, 0);
    width: 20%;
    box-shadow: none;
  }

  .nav {
    padding: 0;
    margin: 0;
  }

  .nav_element {
    width: 90%;
    margin: auto;
  }

  .rect {
    width: 100%;
  }

  .nav_button {
    display: none;
  }

  .main_image {
    order: 2;
    width: 80%;
    height: 313px;
  }

  .main_image img {
    object-fit: cover;
    height: 313px;
  }

  .main_image figcaption {
    font-size: 16px;
  }

  .featured_work {
    order: 3;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
  }

  .project_container {
    width: calc(100%/2 - 4px);
    margin: 0 2px;
  }

  .project_container img {
    height: 25vh;
  }

  footer {
    order: 4;
  }
}

@media screen and (min-width: 601px) {
  .project_container img {
    height: 35vh;
  }
}

@media screen and (min-width: 701px) {
  .project_container {
    width: calc(100%/3 - 6px);
  }

  .project_container img {
    height: 25vh;
  }
}

@media screen and (min-width: 901px) {
  nav {
    order : 0;
    height: 100vh;
    position: fixed;
    float: left;
  }

  .nav_element:first-of-type {
    margin-top: 80px;
  }

  header {
    width: 80%;
    position: fixed;
    float: right;
    margin-left: 20%;
    z-index: 2;
    background-color: #fff;
  }

  .main_image {
    width: 80%;
    margin: 80px 0 0 20%;
  }

  .featured_work {
    margin-left: 20%;
  }

  footer {
    width: 80%;
    margin-left: 20%;
  }

}

@media screen and (min-width: 1001px) {
  .container {
    width: 1000px;
    margin: auto;
  }

  nav {
    width: 200px;
  }

  header {
    width: 800px;
    margin-left: 200px;
  }
}
